
* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F2F4F8;
}

.tile {
    border-radius: 25px;
    border: 2px solid #32B86A;
    background-color:  #C1FBD3;
   
}

.testimonial-container {
    display: flex;
    justify-content: center;
}

.benefits-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 75%;
}

.header {
    display: inline-block;
    /* position: relative; */

}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    //opacity: 0.5;
}

.header h1 + h3 {
    position: relative;
    top: 50%;
}

/* .testimonial-container {
    position: absolute;
    top: 100%;
} */

.testimonial-container-container {
    position: absolute;
    top: 100%;
}